.homepage {
  padding: 0 4rem;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;
  background-color: #363d40;

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: #afafaf;
  }
}

.latestEpisodes {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    li {
      background: #373838; //var(--white);
      // border: 1px solid #5d5869; //var(--gray-100);
      padding: 1.25rem;
      border-radius: 1.5rem;
      position: relative;
      display: flex;
      align-items: center;
      box-shadow: 0 0 1em #44414b; //#e2e2e2;

      img {
        width: 6rem;
        height: 6rem;
        border-radius: 1rem;
      }

      .episodeDetails {
        flex: 1;
        margin-left: 1rem;

        a {
          display: block;
          color: var(--gray-500);
          font-family: Lexend, sans-serif;
          font-weight: 600;
          text-decoration: none;
          line-height: 1.4rem;

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          font-size: 0.875rem;
          margin-top: 0.5rem;
          max-width: 70%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span {
          display: inline-block;
          margin-top: 0.5rem;
          font-size: 0.875rem;

          &:last-child {
            margin-left: 0.5rem;
            padding-left: 0.5rem;
            position: relative;

            &::before {
              content: "";
              width: 10px;
              height: 4px;
              border-radius: 2px;
              background: var(--gray-500);
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      button {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        background: #47494a; //var(--white);
        border: 1px solid var(--gray-800);
        border-radius: 0.675rem;
        font-size: 0;

        transition: filter 0.2s;

        img {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }
}

.allEpisodes {
  padding-bottom: 2rem;
  margin: 0 auto;
  // border: 1px solid white;

  // img {
  //   width: 2.7rem;
  //   height: 2.7rem;
  //   border-radius: 1rem;
  // }

  a {
    color: var(--gray-200);
    font-family: Lexend, sans-serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.4rem;
    font-size: 1.2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .epCard {
    display: flex;
    margin-bottom: 2rem;
    padding: 1.25rem;
    background: #373838;
    border-radius: 1.5rem;
    gap: 2rem;

    img {
      width: 12rem;
      height: 8rem;
      border-radius: 1rem;
    }

    .epInfos {
      line-height: 1.675rem;
      color: var(--gray-800);
      text-align: justify;
      position: relative;
      width: 100%;
      // border: 1px solid lime;

      .epDescription {
        color: #afafaf;
        text-align: justify;
        // border: 1px solid white;
      }

      .members {
        margin-top: 0.5rem;
        color: #d1c5b5;
      }

      span {
        color: aquamarine;

        &:first-of-type::after {
          display: inline-block;
          content: "";
          width: 10px;
          height: 0.5px;
          border-radius: 3px;
          margin: 0 0.5rem;
          border: 2px solid;
          transform: translate(0, -50%);
          position: relative;
          bottom: 3px;
        }
      }

      button {
        width: 2rem;
        height: 2rem;
        background: #47494a; //var(--white);
        border: 1px solid var(--gray-800);
        border-radius: 0.5rem;
        font-size: 0;
        position: absolute;
        right: 0;
        bottom: 0;

        transition: filter 0.2s;

        img {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }
}
